@using Achareh.Domain.Core.Entities.Request
@model List<ExpertOffer>
<!doctype html>
<html class="no-js " lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

	<title>:: Aero Bootstrap4 Admin ::</title>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<!-- Favicon-->
	<link rel="stylesheet" href="~/AdminTemplate/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.bootstrap.min.css">
	<link rel="stylesheet" href="~/AdminTemplate/plugins/footable-bootstrap/css/footable.standalone.min.css">
	<!-- Custom Css -->
	<link rel="stylesheet" href="~/AdminTemplate/css/style.min.css">
</head>

<body class="theme-blush">



	<!-- Overlay For Sidebars -->
	<div class="overlay"></div>

	<section class="content contact">
		<div class="body_scroll">
			<div class="block-header">
				<div class="row">
					<div class="col-lg-7 col-md-6 col-sm-12">
						<h2>مخاطبین</h2>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> آئرو</a></li>
							<li class="breadcrumb-item"><a href="javascript:void(0);">برنامه</a></li>
							<li class="breadcrumb-item active">مخاطبین</li>
						</ul>
						<button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-12">
						<button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
						<button class="btn btn-success btn-icon float-right" type="button"><i class="zmdi zmdi-plus"></i></button>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="col-lg-12">
						<div class="card">
							<div class="table-responsive">
								<table class="table table-hover mb-0 c_list c_table">
									<thead>
										<tr>
											<th data-breakpoints="xs">شناسه پیشنهاد</th>
											<th data-breakpoints="xs sm md">کارشناس</th>
											<th data-breakpoints="xs sm md">توضیحات</th>
											<th data-breakpoints="xs">قیمت پیشنهادی</th>
										</tr>
									</thead>
									<tbody>
										@if (Model != null && Model.Any())
										{
											@foreach (var sug in Model)
											{
												<tr>
													<td>
														<span><i class="mr-2"></i>@sug.Id</span>
													</td>

													<td>
														<span>@($"{sug.Expert.User.FirstName} {sug.Expert.User.LastName}")</span>
													</td>
													<td>
														<span>@sug.Description</span>
													</td>
													<td>
														<span>@sug.SuggestedPrice</span>
													</td>

												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="6" class="text-center">هیچ پیشنهادی ثبت نشده</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- Jquery Core Js -->
	<script src="~/AdminTemplate/bundles/libscripts.bundle.js"></script>
	<script src="~/AdminTemplate/bundles/vendorscripts.bundle.js"></script>

	<script src="~/AdminTemplate/bundles/footable.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

	<script src="~/AdminTemplate/bundles/mainscripts.bundle.js"></script>
	<script src="~/AdminTemplate/js/pages/tables/footable.js"></script><!-- Custom Js -->
</body>

</html>
