@model int
<!-- Main Content -->
<section class="content">
	<div class="body_scroll">
		<div class="block-header">
			<div class="row">
				<div class="col-lg-7 col-md-6 col-sm-12">
					<h2>داشبورد فروشگاهی</h2>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> آئرو</a></li>
						<li class="breadcrumb-item">فروشگاه</li>
						<li class="breadcrumb-item active">داشبورد</li>
					</ul>
					<button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
					<div class="card">
						<div class="body">
							<input type="text" class="knob" value="42" data-linecap="round" data-width="100" data-height="100" data-thickness="0.08" data-fgColor="#00adef" readonly>
							<p>مشتریان</p>
							<div class="d-flex bd-highlight text-center mt-4">
								<div class="flex-fill bd-highlight">
									<small class="text-muted">مستقیم</small>
									<h5 class="mb-0">254</h5>
								</div>
								<div class="flex-fill bd-highlight">
									<small class="text-muted">کشف</small>
									<h5 class="mb-0">254</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
					<div class="card">
						<div class="body">
							<input type="text" class="knob" value="81" data-linecap="round" data-width="100" data-height="100" data-thickness="0.08" data-fgColor="#ee2558" readonly>
							<p>مجموع سفارشات</p>
							<div class="d-flex bd-highlight text-center mt-4">
								<div class="flex-fill bd-highlight">
									<small class="text-muted">داخلی</small>
									<h5 class="mb-0">34GB</h5>
								</div>
								<div class="flex-fill bd-highlight">
									<small class="text-muted">خارجی</small>
									<h5 class="mb-0">531GB</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
					<div class="card">
						<div class="body">
							<input type="text" class="knob" value="62" data-linecap="round" data-width="100" data-height="100" data-thickness="0.08" data-fgColor="#8f78db" readonly>
							<p>سرمایه گذاری</p>
							<div class="d-flex bd-highlight text-center mt-4">
								<div class="flex-fill bd-highlight">
									<small class="text-muted">داخلی</small>
									<h5 class="mb-0">25<small>(-23%)</small></h5>
								</div>
								<div class="flex-fill bd-highlight">
									<small class="text-muted">خارجی</small>
									<h5 class="mb-0">12<small>(+150%)</small></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center">
					<div class="card">
						<div class="body">
							<input type="text" class="knob" value="38" data-linecap="round" data-width="100" data-height="100" data-thickness="0.08" data-fgColor="#f67a82" readonly>
							<p>درامد</p>
							<div class="d-flex bd-highlight text-center mt-4">
								<div class="flex-fill bd-highlight">
									<small class="text-muted">ورودی</small>
									<h5 class="mb-0">15K</h5>
								</div>
								<div class="flex-fill bd-highlight">
									<small class="text-muted">خروجی</small>
									<h5 class="mb-0">2K</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<div class="row clearfix">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="card">
						<div class="header">
							<h2><strong>سفارشات</strong> اخیر</h2>
							<ul class="header-dropdown">
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
									<ul class="dropdown-menu dropdown-menu-right slideUp">
										<li><a href="javascript:void(0);">اقدام</a></li>
										<li><a href="javascript:void(0);">اقدام دیگر</a></li>
										<li><a href="javascript:void(0);">چیز دیگری</a></li>
									</ul>
								</li>
								<li class="remove">
									<a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
								</li>
							</ul>
						</div>
						<div class="table-responsive">
							<table class="table table-hover c_table">
								<thead>
									<tr>
										<th style="width:60px;">#</th>
										<th>نام</th>
										<th>آیتم</th>
										<th>آدرس</th>
										<th>تعداد</th>
										<th>وضعیت</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><img src="http://via.placeholder.com/60x40" alt="Product img"></td>
										<td>آرش</td>
										<td>آیفون-8</td>
										<td>پورترفیلد 508 ویرجینیا خیابان شیکاگو، غربی 60653</td>
										<td>3</td>
										<td><span class="badge badge-success">انجام شده</span></td>
									</tr>
									<tr>
										<td><img src="http://via.placeholder.com/60x40" alt="Product img"></td>
										<td>آرش</td>
										<td>آیفون-8</td>
										<td>پورترفیلد 508 ویرجینیا خیابان شیکاگو، غربی 60653 </td>
										<td>3</td>
										<td><span class="badge badge-success">انجام شده</span></td>
									</tr>
									<tr>
										<td><img src="http://via.placeholder.com/60x40" alt="Product img"></td>
										<td>آرش</td>
										<td>آیفون-8</td>
										<td>پورترفیلد 508 ویرجینیا خیابان شیکاگو، غربی 60653</td>
										<td>4</td>
										<td><span class="badge badge-success">انجام شده</span></td>
									</tr>
									<tr>
										<td><img src="http://via.placeholder.com/60x40" alt="Product img"></td>
										<td>آرش</td>
										<td>آیفون-8</td>
										<td>پورترفیلد 508 ویرجینیا خیابان شیکاگو، غربی 60653</td>
										<td>1</td>
										<td><span class="badge badge-success">انجام شده</span></td>
									</tr>
									<tr>
										<td><img src="http://via.placeholder.com/60x40" alt="Product img"></td>
										<td>آرش</td>
										<td>آیفون-8</td>
										<td>پورترفیلد 508 ویرجینیا خیابان شیکاگو، غربی 60653</td>
										<td>13</td>
										<td><span class="badge badge-warning">در انتظار</span></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<h1>@Model</h1>

<script src="~/AdminTemplate/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="~/AdminTemplate/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->

<script src="~/AdminTemplate/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
<script src="~/AdminTemplate/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
<script src="~/AdminTemplate/bundles/sparkline.bundle.js"></script> <!-- Sparkline Plugin Js -->
<script src="~/AdminTemplate/bundles/knob.bundle.js"></script> <!-- Jquery Knob Plugin Js -->

<script src="~/AdminTemplate/bundles/mainscripts.bundle.js"></script>
<script src="~/AdminTemplate/js/pages/ecommerce.js"></script>
<script src="~/AdminTemplate/js/pages/charts/jquery-knob.min.js"></script>