@model List<Achareh.Domain.Core.Entities.Request.Category>
<head>

    <link rel="stylesheet" href="~/UsersTemplate/css/custom/category-list.css">

    <style>
        .row {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .category-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .category-list {
            flex-grow: 1;
        }
    </style>




</head>

<body>
    
 
    <div class="btmbar-part">
        <div class="container">
            <ul class="btmbar-widget">
                <li><a href="user-form.html"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i><sup>0</sup></a></li>
                <li>
                    <a class="plus-btn" href="ad-post.html">
                        <i class="fas fa-plus"></i><span>
                            پست خود را تبلیغ کنید
                        </span>
                    </a>
                </li>
                <li><a href="#"><i class="fas fa-bell"></i><sup>0</sup></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i><sup>0</sup></a></li>
            </ul>
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <form class="header-search">
                            <div class="header-main-search">
                                <button type="submit" class="header-search-btn">
                                    <i class="fas fa-search"></i>
                                </button><input type="text" class="form-control"
                                                placeholder="چیزی که دوست داری را جستجو کن ...">
                            </div>
                            <div class="header-search-option">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="form-btn">
                                            <button type="submit" class="btn btn-inline">
                                                <i class="fas fa-search"></i><span>جستجو کنید</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="category-part">
        <div class="container">
            <div class="row">
                @foreach (var category in Model)
                {
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="category-card">
                            <div class="category-head"
                                 style="background:url('@category.ImagePath') no-repeat center; background-size:cover;">
                                <a href="#">
                                    <h4>@category.Title</h4>
                                </a>
                            </div>
                            <ul class="category-list">
                                @foreach (var subCategory in category.SubCategories)
                                {
                                    <li>
                                         <a asp-area="Users" asp-controller="HomeService" asp-action="Index" asp-route-subCategoryId="@subCategory.Id">
                                            <h6>@subCategory.Title</h6>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>


</body>

