@using Achareh.Endpoint.MVC.Areas.Users.Models
@using Achareh.Domain.Core.Entities.Request
@model AddRequestViewModel
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>

	<link rel="stylesheet" href="~/UsersTemplate/css/custom/ad-post.css">
</head>

<body>

	<header class="header-part">
		<div class="container">
			<div class="header-content">
				<div class="header-left">
					<ul class="header-widget">
						<li><button type="button" class="header-menu"><i class="fas fa-align-left"></i></button></li>
						<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="header-logo"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a></li>
						<li>
							<a href="user-form.html" class="header-user">

							</a>
						</li>
						<li><button type="button" class="header-src"><i class="fas fa-search"></i></button></li>
					</ul>
				</div>


			</div>
		</div>
	</header>
	<div class="sidebar-part">
		<div class="sidebar-body">
			<div class="sidebar-header">
				<a asp-area="Users" asp-controller="Home" asp-action="Index" class="sidebar-logo">
					<img src="~/UsersTemplate/images/logo.png"
						 alt="logo">
				</a><button class="sidebar-cross"><i class="fas fa-times"></i></button>
			</div>
			<div class="sidebar-content">
				<div class="sidebar-profile">
					<a href="#" class="sidebar-avatar">
						<img src="~/UsersTemplate/images/avatar/01.jpg"
							 alt="avatar">
					</a>
					<h4><a href="#" class="sidebar-name">جکسون هندرسون</a></h4><a href="ad-post.html"
																   class="btn btn-inline sidebar-btn">
						<i class="fas fa-plus-circle"></i><span>
							تبلیغ خود را ارسال
							کنید
						</span>
					</a>
				</div>
				<div class="sidebar-menu">
					<ul class="nav nav-tabs">
						<li><a href="#main-menu" class="nav-link active" data-toggle="tab">منوی اصلی </a></li>

					</ul>
					<div class="tab-pane active" id="main-menu">
						<ul class="navbar-list">

							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										دسته
										بندی
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="category-list.html">تمیزکاری</a></li>
									<li><a class="dropdown-link" href="category-list.html">ساختمان</a></li>
									<li><a class="dropdown-link" href="category-list.html">تعمیرات اشیا</a></li>
									<li><a class="dropdown-link" href="category-list.html">اسباب کشی و حمل بار</a></li>
									<li><a class="dropdown-link" href="category-list.html">خودرو</a></li>
									<li><a class="dropdown-link" href="category-list.html">سلامت و زیبایی</a></li>
									<li><a class="dropdown-link" href="category-list.html">سازمان ها و مجتمع ها</a></li>
									<li><a class="dropdown-link" href="category-list.html">سایر</a></li>

								</ul>
							</li>


							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>صفحات</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a asp-area="Users" asp-controller="Home" asp-action="Index" class="dropdown-link">صفحه اصلی</a></li>
									<li><a asp-area="Users" asp-controller="CustomerDashboard" asp-action="Index" class="dropdown-link">پروفایل مشتری</a></li>
									<li><a asp-area="Users" asp-controller="Account" asp-action="Login" class="dropdown-link">ورود</a></li>
									<li><a asp-area="Users" asp-controller="Account" asp-action="Logout" class="dropdown-link">خروج</a></li>

								</ul>
							</li>
							<li class="navbar-item navbar-dropdown">
								<a class="navbar-link" href="#">
									<span>
										وبلاگ
									</span><i class="fas fa-plus"></i>
								</a>
								<ul class="dropdown-list">
									<li><a class="dropdown-link" href="blog-list.html">وبلاگ لیستی </a></li>
									<li><a class="dropdown-link" href="blog-details.html">جزئیات وبلاگ</a></li>
								</ul>
							</li>
							<li class="navbar-item"><a class="navbar-link" href="contact.html">تماس با ما</a></li>
						</ul>
					</div>

				</div>
				<div class="sidebar-footer">
					<p>کلیه حقوق محفوظ است توسط <a href="#"> کلاسیک ادز </a></p>
					<p>طراحی توسط <a href="https://www.rtl-theme.com/author/tn_plugin">جعفر عباسی خان </a></p>
				</div>
			</div>
		</div>
	</div>




	<section class="single-banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="single-content">
						<h2>ثبت سفارش</h2>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="adpost-part">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 m-auto">
					<form asp-action="AddRequest" method="post" enctype="multipart/form-data" class="adpost-form">
						<div class="adpost-card">
							<div class="adpost-title">
								<h3>ثبت درخواست سرویس جدید </h3>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<div class="form-group">
										<label asp-for="HomeServiceTitle" class="form-label">هوم سرویس</label>
										<input asp-for="HomeServiceTitle" class="form-control">
										<span asp-validation-for="HomeServiceTitle" class="text-danger"></span>
									</div>
								</div>



								<div class="col-lg-12">
									<div class="form-group">
										<label asp-for="RequestForDate" class="form-label">تاریخ</label>
										<input asp-for="RequestForDate" class="form-control">
										<span asp-validation-for="RequestForDate" class="text-danger"></span>
									</div>
								</div>

								<div class="col-lg-12">
									<div class="form-group">
										<label asp-for="RequestForTime" class="form-label">ساعت</label>
										<input asp-for="RequestForTime" type="time" class="form-control">
										<span asp-validation-for="RequestForTime" class="text-danger"></span>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<label class="form-label">آپلود تصویر</label>
								<input type="file" name="ImageFiles" class="form-control" asp-for="ImageFiles" multiple />
							</div>

							<div class="col-lg-12">
								<label asp-for="Description" class="form-label">توضیحات</label>
								<textarea asp-for="Description" class="form-control" rows="3"></textarea>
								<span asp-validation-for="Description" class="text-danger"></span>
							</div>
						</div>

						<input type="hidden" asp-for="HomeServiceId" />
						<div class="adpost-card pb-2">

							<div class="form-group text-right">
								<button  type="submit" class="btn btn-inline">
									<i class="fas fa-check-circle"  ></i><span>ثبت</span>
								</button>
							</div>
						</div>


					</form>

				</div>



			</div>
		</div>

	</section>


</body>

</html>