@using AChareh.Domain.Core.Dtos.User
@model LoginUserDto

<!DOCTYPE html>
<html lang="en">


<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta name="keywords"
		  content="classicads, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,">
	<title> فرم کاربر</title>
	<link rel="stylesheet" href="~/UsersTemplate/css/custom/user-form.css">

</head>

<body>
	<section class="user-form-part">
		<div class="user-form-banner">
			<div class="user-form-content">
				<a href="#"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a>
				<h1>دارایی های خود را تبلیغ کنید <span>آنچه را که نیاز دارید خریداری کنید.</span></h1>
				<p>بزرگترین بازار تبلیغات آنلاین در جهان.</p>
			</div>
		</div>
		<div class="user-form-category">
			<div class="user-form-header">
				<a href="#"><img src="~/UsersTemplate/images/logo.png" alt="logo"></a><a href="index.html">
					<i class="fas fa-arrow-left"></i>
				</a>
			</div>
			<div class="user-form-category-btn">
				<ul class="nav nav-tabs">
					<li><a href="#login-tab" class="nav-link active" data-toggle="tab">ورود</a></li>
					<li><a href="#register-tab" class="nav-link" data-toggle="tab">ثبت نام</a></li>
				</ul>
			</div>
			<div class="tab-pane active" id="login-tab">
				<div class="user-form-title">
					<h2>خوش آمدید!</h2>
					<p>برای دسترسی به حساب خود از اعتبارنامه استفاده کنید.</p>
				</div>
				<form asp-area="Users" asp-controller="Account" method="post" asp-action="Login">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="ایمیل" asp-for="Email">
								<small class="form-alert">لطفاً این مثال را دنبال کنید - 01example@@gmail.com</small>
							</div>
							<span class="bg-color-danger alert" asp-validation-for="Email"></span>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control" id="pass" placeholder="رمز عبور" asp-for="Password">
								<button type="button" class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
							<span class="bg-color-danger alert" asp-validation-for="Password"></span>
						</div>
						<div class="col-6">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input asp-for="IsPresistent" type="checkbox"
										   value="true"
										   class="custom-control-input" id="signin-check"><label class="custom-control-label" for="signin-check">مرا به خاطر بسپار</label>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label for="role">نقش خود را انتخاب کنید:</label>
								<select asp-for="Role" class="form-control" id="role">
									<option value="">انتخاب کنید...</option>
									<option value="Customer">مشتری</option>
									<option value="Expert">کارشناس</option>
								</select>
							</div>
							<span class=" bg-color-danger alert" asp-validation-for="Role"></span>
						</div>

						<div class="col-6">
							<div class="form-group text-right">
								<a href="#" class="form-forgot">فراموشی رمز عبور؟</a>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<button type="submit" class="btn btn-inline">
									<i class="fas fa-unlock"></i><span>حساب خود را وارد کنید</span>
								</button>
							</div>
						</div>
					</div>
				</form>
				<div class=" col-12">
					@if (ViewBag.LoginMessage is not null)
					{
						<span class=" bg-color-danger alert">@ViewBag.LoginMessage</span>
					}
				</div>
				<div class="user-form-direction">
					<p>حساب ندارید؟ کلیک کنید روی <span>( ثبت نام )</span> برای ایجاد حساب.</p>
				</div>
			</div>
			<div class="tab-pane" id="register-tab">
				<div class="user-form-title">
					<h2>ثبت نام </h2>
					<p>در یک دقیقه حساب جدیدی راه اندازی کنید. </p>
				</div>
				<ul class="user-form-option">
					<li><a href="#"><i class="fab fa-facebook-f"></i><span>فیس بوک</span></a></li>
					<li><a href="#"><i class="fab fa-twitter"></i><span>توییتر</span></a></li>
					<li><a href="#"><i class="fab fa-google"></i><span>گوگل</span></a></li>
				</ul>
				<div class="user-form-devider">
					<p>یا </p>
				</div>
				<form>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<input type="text" class="form-control"
									   placeholder="شماره تلفن"><small class="form-alert">
									لطفاً این مثال را دنبال کنید - 01
									XXXXXXXXX
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control"
									   placeholder="رمز عبور"><button class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<input type="password" class="form-control"
									   placeholder="بازیابی رمز عبور"><button class="form-icon">
									<i class="eye fas fa-eye"></i>
								</button><small class="form-alert">
									رمز ورود باید 6
									حرف باشد
								</small>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<div class="custom-control custom-checkbox">
									<input type="checkbox"
										   class="custom-control-input" id="signup-check"><label class="custom-control-label" for="signup-check">
										من با همه موافقم <a href="#">شرایط و ضوابط</a> را میپذریم.
									</label>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group">
								<button type="submit" class="btn btn-inline">
									<i class="fas fa-user-check"></i><span>ایجاد حساب جدید</span>
								</button>
							</div>
						</div>
					</div>
				</form>
				<div class="user-form-direction">
					<p>قبلاً حساب دارید؟ کلیک کنید روی <span>( ورود )</span> برای ورد به حساب.</p>
				</div>
			</div>
		</div>
	</section>

</body>

</html>

@section Scripts
{
	<partial name="_validationScriptsPartial" />
}