@using Achareh.Endpoint.MVC.Models
@using Achareh.Domain.Core.Entities.Request
@model SubCategoryViewModel


@{
	ViewData["Title"] = "ایجاد زیردسته جدید";
	var categories = ViewBag.Categories as List<Category>;
}

<div class="container mt-4">
	<h2 class="text-center mb-4">@ViewData["Title"]</h2>

	<form asp-action="Create" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label asp-for="Title" class="form-label">نام زیردسته</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="CategoryId" class="form-label">دسته‌بندی</label>
			<select asp-for="CategoryId" class="form-select">
				<option value="">انتخاب کنید...</option>
				@if (categories != null)
				{
					@foreach (var item in categories)
					{
						<option value="@item.Id">@item.Title</option>
					}
				}
			</select>
			<span asp-validation-for="CategoryId" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label class="form-label">آپلود تصویر</label>
			<input type="file" name="ImageFile" class="form-control" asp-for="ImageFile" required />

		</div>


		<button type="submit" class="btn btn-success w-100">ایجاد زیردسته</button>
		<a asp-action="SubCategoryIndex" class="btn btn-secondary w-100 mt-2">بازگشت</a>
	</form>
</div>
