


    <div class="btmbar-part">
        <div class="container">
            <ul class="btmbar-widget">
                <li><a href="user-form.html"><i class="fas fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-star"></i><sup>0</sup></a></li>
                <li>
                    <a class="plus-btn" href="ad-post.html">
                        <i class="fas fa-plus"></i><span>
                            پست خود را تبلیغ کنید
                        </span>
                    </a>
                </li>
                <li><a href="#"><i class="fas fa-bell"></i><sup>0</sup></a></li>
                <li><a href="#"><i class="fas fa-envelope"></i><sup>0</sup></a></li>
            </ul>
        </div>
    </div>
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>تنظیمات</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">صفحه اصلی</a></li>
                            <li class="breadcrumb-item active" aria-current="page">تنظیمات</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="dash-header-part">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="dash-avatar"><a href="#"><img src="~/UsersTemplate/images/avatar/01.jpg" alt="avatar"></a></div>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-3">
                    <div class="dash-intro">
                        <h4><a href="#">جک اسپارو</a></h4>
                        <h5>فروشنده جدید</h5>
                    </div>
                    <ul class="dash-meta">
                        <li><i class="fas fa-phone-alt"></i><span>(123) 000-1234</span></li>
                        <li><i class="fas fa-envelope"></i><span>gackon@gmail.com</span></li>
                        <li><i class="fas fa-map-marker-alt"></i><span>آمریکا، لس آنجلس</span></li>
                    </ul>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-list">
                                <h2>2433</h2>
                                <p>آگهی تبلیغ </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-book">
                                <h2>2433</h2>
                                <p>نشان دار کردن تبلیغ </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="dash-focus dash-rev">
                                <h2>2433</h2>
                                <p>مجموع نظرات</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="dash-menu-list">
                        <ul>
                            <li class="navbar-item"><a href="profile.html">پروفایل</a></li>
                            <li class="navbar-item"><a href="my-ads.html">سفارشات من</a></li>
                            <li class="navbar-item"><a class="active" href="setting.html">ویرایش مشخصات </a></li>
                            <li class="navbar-item"><a href="#">خروج </a></li>
                            <li class="navbar-item navbar-dropdown">
                                <a class="navbar-link"
                                   href="bookmark.html"><span>نشانک </span><span>0</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="setting-part">
        <div class="container">
            <form class="setting-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">نام  </label><input type="text"
                                                                          class="form-control" placeholder="محمد">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">نام خانوادگی </label><input type="text"
                                                                                  class="form-control" placeholder="حسن">
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-label">آدرس </label><input type="text"
                                                                          class="form-control" placeholder="ایران، ارومیه، شاهین دژ">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">استان</label><input type="text"
                                                                          class="form-control" placeholder="شاهین دژ">
                        </div>
                    </div>



                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">ایمیل </label><input type="email"
                                                                           class="form-control" placeholder="mironcoder@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">شماره </label><input type="email"
                                                                           class="form-control" placeholder="+8801838288389">
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">تصویر پروفایل</label><input type="file"
                                                                                  class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-label">موجودی</label><input type="number"
                                                                           step="100000" class="form-control" placeholder="200000">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group text-center mt-5">
                            <button class="btn btn-inline">
                                <i class="fas fa-user-check"></i><span>بروز رسانی اطلاعات</span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
